<div class="footer text-center">
    <p class="text-center">
        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>&nbsp;<%= mail_to "contact@acacia-project.com", "Une question ? Un feedback ?" %><br/>
        © Acacia 2016
    </p>
</div>