<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="jumbotron">
			<h1>Bienvenue sur Acacia</h1>
			<p>Des projets solidaires près de chez vous...</p>
			<%= link_to "En savoir plus", projects_path, class: "btn btn-lg btn-primary btn-success" %>
		</div>		
	</div>
</div>